<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thread>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
            </thread>
            <tbody>
                {% for list in lists %}
                <tr>
                    <td>{{list.vendor}}</td>
                    <td>{{list.total}}</td>
                    <td>{{list.tax}}</td>
                    <td>{{list.date}}</td>
                {% endfor %}
                {% for list in items %}
                    <td>{{list.name}}</td>
                {% endfor %}
                {% for list in account %}
                    <td>{{list.name}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>

</body>
</html>
