<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}"> Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
        <main>
            <div>
                <table>
                    <thread>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </thread>
                    <tbody>
                        {% for list in items %}
                        <tr>
                         <td>{{list.name}}</td>
                         <td>{{list.receipts.count}}</td>
                         </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </main>

</body>
</html>
