<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul><li>
                <a href="{% url 'category' %}">category</a>
                <a href="{% url 'accounts' %}">accounts</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}"> Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thread>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
            </thread>
            <tbody>
                {% for list in lists %}
                <tr>
                    <td>{{list.vendor}}</td>
                    <td>{{list.total}}</td>
                    <td>{{list.tax}}</td>
                    <td>{{list.date|date:"m/d/y"}}</td>
                    <td>{{list.category.name}}</td>
                    <td>{{list.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>

</body>
</html>
